.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    /* background-color: rgb(49, 54, 82); */
    /* color: white; */
  }
  
  .item {
    width: 40%;
    margin-bottom: 20px;
    text-align: center;
   
  }

  .item-sell {
    width: 40%;
    margin-top: 12rem;
    height: 900px;
    margin-bottom: 20px;
    text-align: center;
    
   
  }
  

.PrecioPromedio{
    border: 1px solid rgb(230, 48, 48);
    width: 200%;
    height: 20%;
    font-size: 30%;
    background-color: rgb(12, 16, 37);

    
}

.MasVendidos{
    border: 1px solid red;
    width: 60%;
    height: 50%;
    font-size: 30%;
}

.IngresosTotales{
    border: 1px solid red;
    width: 200%;
    height: 20%;
    font-size: 90%;
    padding-top: 2%;
    background-color: rgb(12, 16, 37);
    
    
}

.TotalPedidos{
    border: 1px solid red;
    width: 200%;
    height: 20%;
    font-size: 30%;
    background-color: rgb(12, 16, 37);
    
}

.TotalProductos{
    border: 1px solid red;
    width: 200%;
    height: 20%;
    font-size: 30%;
    background-color: rgb(12, 16, 37);
}

.tamañoimg{
  align-self: center;
  width: 30%;
  margin-left: 20%;
}

@media (max-width:768px){

  .item-sell {
    width: 80%;
    margin-top: 12rem;
    height: 900px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width:390px){

  .item-sell {
    width: 100%;
    margin-top: 12rem;
    height: 900px;
    margin-bottom: 20px;
    text-align: center;
}
}