/* Estilos generales para el dashboard */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 60px;
  padding: 50px;
}

.contenedor2 {
  width: 50%;
}

/* Estilos para cada elemento del dashboard */
.item {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.item-sell {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 30rem;
}

/* Estilos para los textos dentro de los items */
.item div {
  color: #333333;
}

.item p {
  color: #666666;
}

/* Estilos para las imágenes */
.tamañoimg {
  width: 60%; /* Ajusta el ancho de las imágenes según sea necesario */
  margin-left: 20%; /* Centra las imágenes horizontalmente */
  margin-top: 20px; /* Espacio superior entre las imágenes y el contenido */
  margin-bottom: 5%;
}

/* Estilos para el spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilos para los textos dentro de los cuadros de texto */
.texto {
  border: 1px solid rgb(230, 48, 48); /* Color del borde */
  width: 100%; /* Ancho del cuadro de texto al 100% */
  height: 80px; /* Altura del cuadro de texto */
  font-size: 20px; /* Tamaño de la fuente */
  padding: 10px; /* Espaciado interno */
  background-color: rgb(12, 16, 37); /* Color de fondo */
}
