.product card container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
    text-align: center;
}



.card button{
    border: none;
    outline: 0;
    padding: 1rem;
    color: rgb(13, 13, 13);
    background-color: #d47924;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.card button:hover{
    opacity: 0.7;
}